html {
  --cloudea-gray-4: #bcc8d4;

  --cloudea-blue-2: #80ccff;
  --cloudea-blue-3: #54aeff;

  --cloudea-green-4: #2da44e;

  --cloudea-yellow-2: #fcd554;
  --cloudea-yellow-3: #d4a72c;

  --cloudea-red-2: #ffaba8;
  --cloudea-red-3: #ff8182;
  --cloudea-red-4: #fa4549;
  --cloudea-red-5: #cf222e;

  --cloudea-purple-4: #a475f9;

  --cloudea-pink-0: #ffeff7;
  --cloudea-pink-3: #ff80c8;
  --cloudea-pink-4: #e85aad;

  --cloudea-trans-white-9: #ffffff00;

  --cloudea-trans-blue-3: #54aeff77;
  --cloudea-trans-blue-4: #218bff77;

  --cloudea-trans-pink-2: #ffadda77;
}
