.cloudea-dark-mode {
  --cloudea-font-color-0: #b3b3b3;
  --cloudea-font-color-1: #c5c5c5;
  --cloudea-font-color-2: #dddddd;
  --cloudea-font-color-3: #e0e0e0;

  --cloudea-white: #0f1720;

  --cloudea-blue-0: #00479e;
  --cloudea-blue-5: var(--cloudea-blue-2);

  --cloudea-red-0: #52000c;

  --cloudea-trans-white-2: #0d2034d9;
  --cloudea-trans-white-5: #0f253d8e;

  --cloudea-trans-blue-0: #09132077;
  --cloudea-trans-blue-1: #5288c177;
  --cloudea-trans-blue-2: #0c4cac77;

  --cloudea-trans-pink-0: #21131a77;
  --cloudea-trans-pink-1: #aa608477;
}
