.cloudea-dark-mode {
  --cloudea-font-color-0: #b3b3b3;
  --cloudea-font-color-1: #c5c5c5;
  --cloudea-font-color-2: #dddddd;
  --cloudea-font-color-3: #e0e0e0;

  --cloudea-white: #0f1720;
  --cloudea-black: #ffffff;

  --cloudea-blue-0: #00479e;
  --cloudea-blue-5: var(--cloudea-blue-2);

  --cloudea-green-1: #0d5f0d;
  --cloudea-green-2: #2c8b55;
  --cloudea-green-3: #b0d471;

  --cloudea-red-0: #52000c;

  --cloudea-trans-white-2: #0d2034d9;
  --cloudea-trans-white-5: #0f253d8e;

  --cloudea-trans-blue-0: #09132077;
  --cloudea-trans-blue-1: #5288c177;
  --cloudea-trans-blue-2: #0c4cac77;

  --cloudea-trans-pink-0: #21131a77;
  --cloudea-trans-pink-1: #aa608477;

  // milkdown
  --crepe-color-background: #1f1b16;
  --crepe-color-on-background: #eae1d9;
  --crepe-color-surface: #18120b;
  --crepe-color-surface-low: #201b13;
  --crepe-color-on-surface: #ede0d4;
  --crepe-color-on-surface-variant: #d3c4b4;
  --crepe-color-outline: #9c8f80;
  --crepe-color-primary: #f4bd6f;
  --crepe-color-secondary: #56442a;
  --crepe-color-on-secondary: #fbdebc;
  --crepe-color-inverse: #ede0d4;
  --crepe-color-on-inverse: #362f27;
  --crepe-color-inline-code: #ffb4ab;
  --crepe-color-error: #ffb4ab;
  --crepe-color-hover: #251f17;
  --crepe-color-selected: #3b342b;
  --crepe-color-inline-area: #3f3830;
}
