.cloudea-light-mode {
  --cloudea-font-color-0: #777777;
  --cloudea-font-color-1: #666666;
  --cloudea-font-color-2: #4d4d4d;
  --cloudea-font-color-3: #242424;

  --cloudea-white: #ffffff;

  --cloudea-blue-0: #ddf4ff;
  --cloudea-blue-5: #0969da;

  --cloudea-red-0: #ffebe9;

  --cloudea-trans-white-2: #ffffffd9;
  --cloudea-trans-white-5: #ffffffb4;

  --cloudea-trans-blue-0: #ddf4ff77;
  --cloudea-trans-blue-1: #b6e3ff77;
  --cloudea-trans-blue-2: #80ccff77;

  --cloudea-trans-pink-0: #ffeff777;
  --cloudea-trans-pink-1: #ffd3eb77;
}
