.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

.main-nav {
  font-size: 1.167rem;
}

.main-container {
  max-width: 1200px;
}

.main-container>.view {
  margin-top: 1.66rem;
}
