.clearfix::after{
  font-size: 0;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

.main-nav {
  font-size: 1.167rem;
}

.main-container {
  max-width: 1200px;
}

.main-container > .view {
  margin-top: 1.66rem;
  min-height:calc(100dvh - 6.66rem)
}

.cloudea-area {
  background-color: var(--cloudea-trans-white-5);
  backdrop-filter: blur(10px);
  box-shadow: var(--cloudea-shadow-0);
  border-radius: 10px;

  transition: border-radius 0.6s ease-in-out;
}

@media (max-width: 600px) {
  .cloudea-area {
    border-radius: 0;
  }

  .main-container > .view {
    margin-top: 0;
    min-height:calc(100dvh - 5rem)
  }
}
